:root{
    --black-color:#0000;
    --while-color:#fff;
    --pink-color:#C88BC4;
    --grey-color:#A3A3A3;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
.upper-case{
    text-transform: uppercase;
}
.pad-15{
    padding: 0 -15px;
}
.content-header{
    background: #000;
    padding: 50px 0 40px 0;
    margin-top: 80px;
}
.content-header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header__item:last-child{
    font-size: 1.4rem;
}
.content-header__item-text{
    font-size: 1.4rem;
    color: var(--while-color);
    text-transform: uppercase;
}
.content-header__item-link{
    font-size: 1.4rem;
    padding-right: 12px;
    color: var(--while-color);
}
.content-header__item-link:hover{
    opacity: 0.6;
    color: var(--while-color);
}

/* About */
.about{
    background-color: #000;
    padding: 60px 0 300px 0;
}
.about-menu{
    position: relative;
}
.about__list{
    /* position: absolute; */
    display: flex;
    /* left: 25%; */
    align-items: center;
}
.about__item{
    padding: 0 50px 0 15px;
}
.about__item-img{
    margin-right: 20px;
    width: 128px;
    float: right;
}
.about__item-logo{
    width: 100px;
}
.about__item-heading{
    font-size: 8.4rem;
    color: var(--while-color);
    font-weight: 400;
}
.about__item-body{
    font-size: 2rem;
    color: #D4D4D4;
}
.about__item-list{

}
.about__item-item-link:first-child{
    background: linear-gradient(#000 0 0) padding-box,
     linear-gradient(90deg, #d1aad7, #c88bc4 25%, #7b8fdd 50%, #86bff2 74.87%, #bbdef2 99.88%) border-box;
    color: #fff;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 30px;
    padding: 8px 24px;
    margin-right: 12px;
}
.about__item-item-link:last-child{
    border-radius: 30px;
    padding: 12px 26px;
    border: .5px solid #fff;
    color: var(--while-color);
}
.about__item-item-link:hover{
    color: #000;
    background: #fff;
}
.about__item-end-text{
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(90deg,#d1aad7,#c88bc4 25%,#7b8fdd 50%,#86bff2 74.87%,#bbdef2 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 40px;
}
/* Banner */
.banner{
    padding: 50px;
    background-color: #000;
}
.banner__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner__item-img{
    opacity: 0.6;
}
/* Vision */
.vision{
    background-color: rgb(16 16 16);
    padding: 128px 0 ;
}
.vision-title{
    background: linear-gradient(90deg,#d1aad7,#c88bc4 25%,#7b8fdd 50%,#86bff2 74.87%,#bbdef2 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    font-size: 1.6rem;
    color: #fff;
}
.vision-header{
    color: var(--while-color);
    font-size: 4.8rem;
}
.vision-body{
    font-size: 1.8rem;
    color: var(--while-color);
    text-align: left;
}
.vision-body a{
    color: var(--pink-color);
}
/* Object */
.object{
    background: #000;
    padding: 128px 0;
}
.object__list{

}
.Object__item{
    width: 100%;
}
.object__item-img{
    width: 342px;
    height: 266px;
}
.object__item-header{
    font-size: 2.4rem;
    color: var(--while-color);
    line-height: 4rem;
    padding: 20px 0;
}
.object__item-body{
    font-size: 1.8rem;
    color: var(--grey-color);
}
.object__item-list{
    list-style: none;
    padding: 0;
}
.object__item-item{
    display: flex;
    list-style: none;
    align-items: center;
    color: var(--grey-color);
}
.object__item-item-icon{
    font-size: 0.6rem;
    margin-top: -8px;
    margin-right: 12px;
}
.object__item-item-text{
    font-size: 1.6rem;
    color: var(--grey-color);
}
/* Menu */
.menu{
    background-color: rgb(16 16 16);
    padding: 128px 0 ;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background: #171717;
    padding: 12px 26px;
    border-radius: 40px;
}
.menu__item{

}
.menu__item-text{
    font-size: 1.5rem;
    color: var(--while-color);
    cursor: pointer;
}
.menu__body{
    text-align: center;
    font-size: 1.8rem;
    color: var(--while-color);
    margin: 20px 0;
}
.menu__end{
    display: flex;
}
.menu__end-item-img{
    width: 588px;
    height: 395px;
}
.menu__end-item:last-child{
    padding: 20px ;
    background-color: #171717;
    border-radius: 12px;
    position: relative;
}
.menu__end-item-text{
    color: var(--pink-color);
}
.menu__end-btn{
    position: absolute;
    bottom: 0;
    right: 8px;
    color: var(--while-color);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #000;
    padding: 6px 16px;
    border-radius: 20px;
    cursor: pointer;
}
/* Service */
.service{
    background: #000;
    padding: 128px 0;
}
.service__list{
    margin-bottom: 40px;
}
.service__item{
    padding: 0 8px;
}
.service__item-img{

}
.service__item-header{
    font-size: 2.4rem;
    color: var(--while-color);
    margin: 24px 0;
}
.service__item-body{
    font-size: 1.7rem;
    color: rgb(121, 120, 120);
}
/* SC */
.sc{
    background-color: rgb(16 16 16);
    padding: 128px 0 ;
}
.sc__list{
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    padding: 0 12px;
    cursor: default;
}
.sc__item:last-child{
    padding: 16px 80px 16px 32px;
}
.sc__item-img{
    width: 590px;
    height: 557px;
    margin-left: -26px;
}
.sc__item-img-logo{
    width: 145px;
    height: 32px;
}
.sc__item-content{
    font-size: 1.8rem;
    color: var(--while-color);
    margin: 22px 0;
}
.sc__item-title{
    background: linear-gradient(90deg,#d1aad7,#c88bc4 25%,#7b8fdd 50%,#86bff2 74.87%,#bbdef2 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    font-size: 2rem;
    color: #fff;
}
.sc__item-end{
    font-size: 1.8rem;
    color: #D4D4D4;
}
/* Task */
.task{
    background: #000;
    padding: 128px 0;
}
.task__list{
    display: flex;
    align-items: center;
}
.task__item{

}
.task__item:last-child{
    padding: 16px;
}
.task__item-header{
    font-size: 3rem;
    color: var(--while-color);
    margin-bottom: 16px;
}
.task__item-content{
    font-size: 2rem;
    color: #D4D4D4;
}
.task__item-list{
    background-color: aliceblue;
    margin: 8px 0;
    border-radius: 12px;
    padding: 4px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.task__item-item{
    display: flex;
    align-items: center;
}
.task__item-item-icon{
    margin-right: 8px;
    margin-top: -10px;
}
.task__item-item-text{

}
.task__item-item-icon-1{
    position: absolute;
    right: 20px;
    top: -15px;
    padding: 6px 10px;
    background-color: #3d6611;
    border-radius: 50%;
    color: var(--while-color);
}
/* Support */
.support{
    background: #000;
    padding: 128px 0;
}
.support__list{
    display: flex;
    align-items: center;
}
.support__item{

}
.support__item-img{
    width: 576px;
    height: 427px;
    border-radius: 20px;
}
.support__item-header{
    font-size: 3rem;
    color: var(--while-color);
}
.support__item-content{
    font-size: 2rem;
    color: var(--while-color);
}
/* Supper */
.supper{
    background-color: rgb(16 16 16);
    padding: 128px 0 ;
}
.supper__list{
    
}
.supper__item{
    
}
.supper__item:first-child{
    padding-left: 15%;
}
.supper__item-header{
    font-size: 3.6rem;
    color: var(--while-color);
}
.supper__item-text{
    font-size: 1.8rem;
    color: #D4D4D4;
}
.supper__item-img-1{
    border-radius: 10px;
}
.supper__item-img-2{
    border-radius: 10px;
}
.trust{
    padding: 128px 0 ;
    background-color: #000;
}
/* trademark */
.trademark{
    background: #000;
    padding: 128px 0;
}
.trademark__list{

}
.trademark__item{
    padding: 4px 6px;
}
.trademark__item-img{
    width: 110px;
    height: 28px;
}
/* End */
.end{
    background-color: #000;
    padding: 60px 0 300px 0;
}
.end-menu{
    position: relative;
}
.end__list{
    position: absolute;
    display: flex;
    left: 33%;
    align-items: center;
}
.end__item{
}
.end__item-list{

}
.end__item-item-link:first-child{
    background: linear-gradient(#000 0 0) padding-box,
     linear-gradient(90deg, #d1aad7, #c88bc4 25%, #7b8fdd 50%, #86bff2 74.87%, #bbdef2 99.88%) border-box;
    color: #fff;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 30px;
    padding: 8px 24px;
    margin-right: 12px;
}
.end__item-item-link:last-child{
    border-radius: 30px;
    padding: 12px 26px;
    border: .5px solid #fff;
    color: var(--while-color);
}
.end__item-item-link:hover{
    color: #000;
    background: #fff;
}
.end__item-end-text{
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(90deg,#d1aad7,#c88bc4 25%,#7b8fdd 50%,#86bff2 74.87%,#bbdef2 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}